@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*
  1. Create a root stacking context
*/
/* paleta de colores */
:root{
  /* font colors  */
  --bg-color: #16213E;
  --bg-color-w: #fff;
  /* --main-color: #363674; */
  
  --input-focus-w: #73efb9;
  --input-focus-b: #0abd61;

  --font-color: #000;
  --font-color-w:#fff;
  --font-color-alt: #0e5579;

  /* font family  */
  --font-title: 'Poppins', sans-serif;
  --font-body: 'Nunito', sans-serif;
  

}
#root, #__next {
  isolation: isolate;
}
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  height: 100vh;
  font-family: var(--font-body);
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}


/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  font-family: var(--font-title);
}


