#navbar {
  position: fixed;
  top: 0;
  left: 18.5%;
  width: 100%;
  z-index: 1000;
  transition: top 0.3s ease;

}

#navbar.hidden {
  top: -100px;
}
#navbar #logoNav{
    color: var(--font-color-w);
    margin: 0 14%;
    font-size: clamp(2rem, 3vh, 5rem);
    cursor: default;
    user-select: none;
}

#navbar .button-container {
    display: flex;
    position: fixed;
    background-color: #171717;
    margin-top: 10px;

    flex-direction: row;
      border-top: 1px solid #bcbcbc;
      border-bottom: 1px solid #bcbcbc;

    border-radius: 50px;
    width: 60rem;
    height: 3.5rem;
    align-items: center;
    justify-content: space-around;
}

#navbar .button {
    outline: 0 !important;
    border: 0 !important;
    width: 10%;
    height: 3rem;
    margin:0 .3rem;
    border-radius: 50px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

#navbar .icon { 
  font-size: 1.7rem;
  color: white;
}
#navbar .button:hover {
    background-color: var(--input-focus-b);
}
#navbar .button:hover .icon {
    color: black;
}